:root{
    --draculaBG: #282a36;
    --draculaAccent: #44475a;
    --draculaCFAccent: #bd93f9;
    --draculaComment: #6272a4;
    --draculaForeGround: #f8f8f2;

    --draculaCyan: #8be9fd;
    --draculaGreen: #50fa7b;
    --draculaOrange: #ffb86c;
    --draculaPink: #ff79c6;
    --draculaPurple: #bd93f9;
    --draculaRed: #ff5555;
    --draculaYellow: #f1fa8c;
}