:root{
    --draculaBG: #282a36;
    --draculaAccent: #44475a;
    --draculaCFAccent: #ff79c6;
    --draculaComment: #6272a4;
    --draculaForeGround: #f8f8f2;

    --draculaCyan: #8be9fd;
    --draculaGreen: #50fa7b;
    --draculaOrange: #ffb86c;
    --draculaPink: #ff79c6;
    --draculaPurple: #bd93f9;
    --draculaRed: #ff5555;
    --draculaYellow: #f1fa8c;
}

/* Kompletter Container links */
.gamelistbar_Container_3x1Hk {
  background-image: linear-gradient(to bottom, var(--draculaBG) 0%, var(--draculaBG) 20%);

}

/* Home and Search */
.gamelistbar_GameListHomeAndSearch_2TKEa {
  background-color: var(--draculaBG);
}

/* Home box + Collection Button BG*/
.gamelisthome_Bar_3pSPl.gamelisthome_Selected_eNLOx, .gamelisthome_Bar_3pSPl {
  background-color: var(--draculaAccent);
}
/* Hovermode */
.gamelisthome_Bar_3pSPl.gamelisthome_Selected_eNLOx:hover, .gamelisthome_Bar_3pSPl:hover {
  background-color: var(--draculaCFAccent);
}

/* Collection Button Inlet */
.gamelisthome_CollectionIcon_nC-pL .gamelisthome_CollectionIconBox_2tyaV {
  /*background: var(--draculaBG);*/
  background: #8f8f8f;
}

/* Menu Header */
.gamelistdropdown_Bar_1ZS_x .gamelistdropdown_MenuHeader_2PF_m {
  background-color: var(--draculaAccent);
}
/* Hover */
  .gamelistdropdown_Bar_1ZS_x .gamelistdropdown_MenuHeader_2PF_m:hover {
    background-color: var(--draculaCFAccent);
  }

/* Dropdown Menu */
.contextmenu_contextMenu_PP7LM {
  background: var(--draculaAccent);
}  

/* Searchbar */
.gamelistsearchbar_Container_20QAC .gamelistsearchbar_SearchInput_12vo5 .DialogTextInputBase {
  background-color: var(--draculaAccent);
}

/* Advanced Search Settings */
.gamelistsearchbar_Container_20QAC .gamelistsearchbar_AdvancedSearchContainer_vCCmY {
  background-color: var(--draculaAccent);
}



.gamelistsectionheader_Container_2sYIg {
  border-right: none !important;

  background: linear-gradient(to right, var(--draculaAccent) 40% , #282a36 100%);
}

  .gamelistsectionheader_Container_2sYIg.gamelistsectionheader_Selected_sXMOs {
    /* Color of selected Category */
    background: var(--draculaCFAccent);
  }

  .gamelistsectionheader_Container_2sYIg:hover {
    /* Hovercolor hovering over Month/Category */
    background: var(--draculaCFAccent);
  }

  /* Text in Section Header */
  .gamelistsectionheader_SectionHeaderContent_3cV3O {
    color: var(--draculaCFAccent);
  }

  .gamelistsectionheader_SectionHeaderContent_3cV3O:hover .gamelistsectionheader_SectionName_2mZ8L {
    color: var(--draculaForeGround);
  }

  /* Icons */

  .collapseicon_Container_3SFRZ .SVGIcon_PlusCircle {
    margin-top: 0px;
  }
  
  .collapseicon_CollapseIconParent_ehAsU .collapseicon_Container_3SFRZ {
    stroke: rgba(255, 255, 255, 0.5) ;
    /*stroke: var(--draculaCFAccent);*/
    /* TODO Herausfinden ob hover farbe änderbar */
  }


  /* Count behind */
  .gamelistsectionheader_SectionCount_29ute {
    color: rgba(255, 255, 255, 0.5) ;
  }


/* The game entries */

  .gamelistentry_Container_2-O4Z.gamelistentry_Updating_1LVQp {
    color: var(--draculaCyan); } 

  .gamelistentry_Container_2-O4Z.gamelistentry_Running_10Gdo {
    color: var(--draculaGreen); }

  .gamelistentry_Container_2-O4Z.gamelistentry_Running_10Gdo .gamelistentry_DownloadProgress_3uk3F {
    color: var(--draculaGreen); }














